div {
  background-color: #759eda;
  height: 7%;
}
#input-name {
  min-width: 20%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  height: 50%;
  margin-top: 0.8%;
  margin-left: 0.9%;
  margin-right: 1%;
}
#input-name::placeholder {
  color: white;
}
button {
  height: 65%;
  background-color: #5879c7;
  border: none;
  padding: 0px 1%;
  color: #030348;
  outline: none;
}
#input-name:focus {
  outline: none;
  border-bottom: 1px solid #030348;
}
